// ! Modals

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: var(--backdrop);
	z-index: 999;
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;

	@media(max-width: $screenSM) {
		width: 100%;
		height: 100vh;
		justify-content: flex-end;
		box-sizing: border-box;
	}
}
.modal-body{
	color: var(--text);
	background-color: var(--background);
	width: fit-content;
	height: fit-content;
	z-index: 1000;
	margin: 0 auto;
	pointer-events: all;
	border-radius: calc(var(--borderRadius) * 7);
	box-sizing: border-box;
	padding: 36px;
	position: relative;

	@media(max-width: $screenSM) {
		width: 100vw;
		justify-self: flex-end;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		@media (display-mode: standalone) {
			padding-bottom: 60px;
		}
	}
	

	h3{

		i{
			position: relative;
			top: 3px;
		}
	}

	p a{
		text-decoration: underline;
	}
}
